<!-- <p>header works!</p> -->
<header>
    <div class="container">
        <a href="#" routerLink="/" class="logo">Food Corner!</a>
        <nav>
            <ul class="u">
                <li>
                    <a class="profile" routerLink="/">Home</a>
                   
                </li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li>
                    <a routerLink="cart-page">Cart</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
