div{
    display: flex;
    justify-content: center;
    margin: 2rem;
    margin-bottom: 1.5rem;
}
div input{
    border-radius: 10rem 0 0 10rem;
    border: 1px solid #e72929;
    height: 3rem;
    width: 20rem;
    background-color: #f1f1f1;
    padding: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    
}
div button{
    color: white;
    height: 3rem;
    width: 5rem;
    font-size: 1rem;
    border-radius: 0 10rem 10rem 0;
    border: 1px solid #e72929;
    background-color: #e72929;
    
}
div button:hover{
    opacity:0.8;
    cursor: pointer;
}